#about {
  width: 850px;
  height: 600px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 130px;
  left: 0px;
  font-family: 'Poppins', sans-serif;
    background-color: #bcd2d0;

}

h3#con {
    width: 850px;
    margin-top: 0;
    text-align: center;
}

p#mc-bio {
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
    line-height: 26px;
    letter-spacing: 2px;
}

p#prof {
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 39px;
    padding-bottom: 10px;
    font-size: 15px;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-weight: bold;
}

img#selfie {
    border-radius: 0;
    width: 220px;
    margin-left: 125px;
    border: 2px solid black;
    opacity: 10;
    z-index: 2;
    margin-top: -50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

img#mc {
    border-radius: 0;
    width: 262px;
    margin-top: 175px;
    margin-left: 20px;
    border: 2px solid black;
    opacity: 10;
    z-index: 10;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

img#lash {
    border-radius: 0;
    width: 305px;
    margin-top: 0px;
    margin-left: 5px;
    border: 2px solid black;
    opacity: 10;
    z-index: 1;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

p#qu3 {
    text-align: center;
    padding-top: 33px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-style: italic;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
}

p#qutwo3 {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 5px;
}

#quote3 {
  margin-top: 30px;
  height: 180px;
  background-color: #c49b9d;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
}

footer#foot2 {
    margin-top: 102p;
    bottom: -1265px;
}








#picone_about > img{
  width: 320px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 200px;
  left: 0;
  opacity: 0.9;
}
#pictwo_about > img {
    width: 420px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    left: 334px;
    opacity: 0.9;
}
img#pthree_about {
    width: 430px;
    position: absolute;
    margin: auto;
    margin-top: 355px;
    left: 770px;
    opacity: 0.9;
}
#picfour_about > img {
    width: 210px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    left: 990px;
    opacity: 0.9;
}

img#plips_about{
  width: 210px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 200px;
  left: 769px;
  opacity: 0.9;
}

img#psix_about {
  width: 210px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 496px;
  left: 336px;
  opacity: 0.9;
}

#picseven_about > img{
  width: 320px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 430px;
  left: 0;
  opacity: 0.9;
}

#piceight_about > img {
    width: 430px;
    height: 256px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 655px;
    left: 770px;
    opacity: 0.9;
}

#picnine_about > img {
    width: 200px;
    height: 315px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 496px;
    left: 555px;
    opacity: 0.9;
}

#see_button_about{
  display: none;
}



.about_snip_page{
  height: 450px;
  width: 350px;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 100px;
  right: -420px;
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.about_snip_page > img {
  float: left;
  position: absolute;
  width: 170px;
  margin: auto;
  top: 80px;
  left: 15px;
  right: 0;
  border-radius: 50%;
  opacity: 0.8;
}

.about_snip_page > p{
  display: inline;
  position: absolute;
  margin: auto;
  left: 15px;
  right: 0;
  top: 260px;
  padding: 10px;
  line-height: 20px;
  font-size: 12px;
  background-color: white;
  letter-spacing: 1px;
}
