h3#con {
    width: 800px;
    margin-top: 0;
    text-align: center;
}

#contact {
  width: 800px;
  height: 600px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 130px;
  left: 0px;
  font-family: 'Poppins', sans-serif;
}

footer#foot3 {
    margin-top: 102p;
      bottom: -1265px;
}


p#city {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  text-transform: uppercase;
  word-spacing: 5px;
  letter-spacing: 2px;
  font-weight: bold;
}

p#info {
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 15px;
  word-spacing: 2px;
  letter-spacing: 4px;
  font-weight: bold;
  line-height: 40px;
}


p#place {
    text-align: center;
    padding-top: 24px;
}

img#tan{
  margin-top: 40px;
}


.about_snip_contact{
  height: 450px;
  width: 350px;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 100px;
  right: -420px;
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

.about_snip_contact > img {
  float: left;
  position: absolute;
  width: 170px;
  margin: auto;
  top: 80px;
  left: 15px;
  right: 0;
  border-radius: 50%;
  opacity: 0.8;
}

.about_snip_contact > p{
  display: inline;
  position: absolute;
  margin: auto;
  left: 15px;
  right: 0;
  top: 260px;
  padding: 10px;
  line-height: 20px;
  font-size: 12px;
  background-color: white;
  letter-spacing: 1px;
}

p#qu_contact {
    text-align: center;
    padding-top: 33px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-style: italic;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
}

p#qutwo_contact {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 5px;
}

#quote_contact {
  margin-top: 30px;
  height: 120px;
  background-color: #c49b9d;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
}

#picone_contact > img{
  width: 320px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 200px;
  left: 0;
  opacity: 0.9;
}
#pictwo_contact > img {
    width: 420px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    left: 334px;
    opacity: 0.9;
}
img#pthree_contact {
    width: 430px;
    position: absolute;
    margin: auto;
    margin-top: 355px;
    left: 770px;
    opacity: 0.9;
}
#picfour_contact > img {
    width: 210px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    left: 990px;
    opacity: 0.9;
}

img#plips_contact{
  width: 210px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 200px;
  left: 769px;
  opacity: 0.9;
}
