@media screen and (min-width: 320px) and (max-width:353px){
  /*INDEX PAGE*/
  .image_array{
    width: 350px;
    height: 400px;
    margin: auto;
    left: 0;
    right: 0;
    top: 200px;
  }
  .slide1,.slide2,.slide3{
    width: 100%;
  }
  .navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 148px;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid #b9b0c0;
    z-index: 100;
    font-size: 0px;
  }
  .navigation ul {
      margin-top:30px;
      line-height: 30px;
  }
  span.fa.fa-envelope {
    position: fixed;
    top: 110px;
    right: 65px;
    font-size: 25px;
  }
  span.fa.fa-instagram {
    color: black;
    position: fixed;
    top: 110px;
    right: 25px;
    font-size: 26px;
  }
  #logo {
    left: 97px;
    top: 60px;
    color:  #dfbbbb;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 40px;
    left: 80px;
  }
  #makeup {
      font-family: 'Raleway', sans-serif;
      font-size: 13px;
      color: black;
      position: fixed;
      left: 20px;
      font-weight: bolder;
      text-align: left;
      top: 100px;
    }

  .brushes{
    margin: auto;
    left: 0;
    right: 0;
    width: 400px;
    height: 110px;
    top: 0px;
    background-position:0 200px;
  }
  .nudepal{
    background-image: url("photos/nudepal.jpg");
    background-size: cover;
    background-position:0 200px;
    margin: auto;
    left: 0;
    right: 0;
    width: 400px;
    height: 100px;
    margin-top: 100px;
  }
  .indexscroll{
    top: 650px;
  }

  #box {
    display: none;
  }
  #logo-2 {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    transform: rotate(0deg);
    transform-origin: left top 0;
    margin: auto;
    left: 32%;
    top: 8px;
  }
  #makeup-2 {
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    transform: rotate(0deg);
    transform-origin: left top 0;
    padding-top: 30px;
    margin: auto;
    left: 10%;
  }
  a{
    padding-right: 10px;
  }

  /*PORTFOLIO*/
  #slides{
    position: absolute;
    width: 80%;
    height: 350px;
    margin: auto;
    top: 530px;
    left: 18px;
    bottom: 0;
    right: 0;
  }
  /*PRICES*/
  .grey-box3{
    top: 148px;
    width: 300px;
  }

  .prices {
    position: absolute;
    margin: auto;
    margin-top: 0px;
  }

  .cost {
    font-family: 'Raleway', sans-serif;
    font-size: 10x;
    width: 80%;
    text-align: left;
    margin: auto;
    height: 700px;
    color: black;
    text-shadow: 1px 1px #grey;
  }

  .service {
    font-size: 8px;
    width: 240px;
  }

  td {
    width: 90%;
    padding-right: 100px;
    font-size: 10px;
  }
  /*ABOUT*/
  .grey-box{
    width: 300px;
    top: 148px;
  }

  #selfie {
    width: 100px;
    height:100px;
    margin-top: 10px;
  }

  .about {
    position: absolute;
    width: 700px;
    top: 185px;
    left: -200px;
  }


  .bio {
    font-size: 10px;
    padding-top: -100px;
    width: 40%;
    height: 1100px;
  }

  #about-me {
    margin-top: -80px;
    font-size: 25px;
    text-align:center;
    padding-bottom: 20px;
  }

  #pro {
    font-size: 15px;
    margin-top: -20px;
    text-align: center;
  }
  /*CONTACTS PAGE*/

  .grey-box2{
    position: fixed;
    width: 300px;
    text-align: left;
    margin: auto;
    top: 148px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(211,211,211, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .contact-form {
    top: 0px;
    font-size: 15px;
    width: 80%;
    left: 35px;
  }

  .table-icons{
    top: 140px;
  }

  .table-icons2{
    top: 140px;
  }

  #make{
    margin-left: -55px;
  }

  #num{
    margin-left: -25px;
  }

  #toronto {
    font-size: 18px;
  }

  #make, #num {
    font-size: 18px;
    text-align: left;
  }

  .mcapp {
    width: 200px;
    height: 300px;
    background-image: url("photos/mcapp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top:450px;

  }

}

@media screen and (min-width: 354px) and (max-width:479px){

  /*INDEX PAGE*/
  .image_array{
    width: 500px;
    height: 400px;
    margin: auto;
    left: 0;
    right: 0;
    top: 200px;
  }
  .slide1,.slide2,.slide3{
    width: 100%;
  }
  .navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 148px;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid #b9b0c0;
    z-index: 100;
    font-size: 0px;
  }
  .navigation ul {
      margin-top:30px;
      line-height: 40px;
  }
  span.fa.fa-envelope {
    position: fixed;
    top: 80px;
    right: 60px;
    font-size: 25px;
  }
  span.fa.fa-instagram {
    color: black;
    position: fixed;
    top: 80px;
    right: 25px;
    font-size: 26px;
  }
  #logo {
    left: 97px;
    top: 53px;
    color:  #dfbbbb;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 40px;
    left: 85px;
  }
  #makeup {
      font-family: 'Raleway', sans-serif;
      font-size: 15px;
      color: black;
      position: fixed;
      left: 20px;
      font-weight: bolder;
      text-align: left;
      top: 90px;
    }

  .brushes{
    margin: auto;
    left: 0;
    right: 0;
    width: 600px;
    height: 110px;
    top: 25px;
    background-position:0 300px;
  }
  .nudepal{
    background-image: url("photos/nudepal.jpg");
    background-size: cover;
    background-position:0 200px;
    margin: auto;
    left: 0;
    right: 0;
    width: 600px;
    height: 100px;
    margin-top: 130px;
  }

  #box {
    display: none;
  }
  #logo-2 {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    transform: rotate(0deg);
    transform-origin: left top 0;
    margin: auto;
    left: 32%;
    top: 8px;
  }
  #makeup-2 {
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    transform: rotate(0deg);
    transform-origin: left top 0;
    padding-top: 30px;
    margin: auto;
    left: 10%;
  }
  a{
    padding-right: 10px;
  }
  /*PORTFOLIO*/
  #slides{
    position: absolute;
    width: 80%;
    height: 350px;
    margin: auto;
    top: 530px;
    left: 18px;
    bottom: 0;
    right: 0;
  }
  /*PRICES*/
  .grey-box3{
    width: 300px;
    top: 148px;
  }

  .prices {
    position: absolute;
    margin: auto;
    margin-top: 10px;
  }

  .cost {
    font-family: 'Raleway', sans-serif;
    font-size: 10x;
    padding-top: 20px;
    width: 80%;
    text-align: left;
    margin: auto;
    height: 700px;
    color: black;
    text-shadow: 1px 1px #grey;
  }

  .service {
    font-size: 8px;
    width: 250px;
  }

  td {
    width: 90%;
    padding-right: 100px;
    font-size: 10px;
  }
  /*ABOUT*/
  .grey-box{
    width: 300px;
    top: 148px;
  }

  #selfie {
    width: 100px;
    height:100px;
    margin-top: 10px;
  }

  .about {
    position: absolute;
    width: 700px;
    top: 185px;
    left: -200px;
  }


  .bio {
    font-size: 10px;
    padding-top: -100px;
    width: 40%;
    height: 1200px;
  }

  #about-me {
    margin-top: -80px;
    font-size: 25px;
    text-align:center;
    padding-bottom: 20px;
  }

  #pro {
    font-size: 15px;
    margin-top: -20px;
    text-align: center;
  }
  /*CONTACTS PAGE*/

  .grey-box2{
    position: fixed;
    width: 300px;
    text-align: left;
    margin: auto;
    top: 148px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(211,211,211, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .contact-form {
    top: 0px;
    font-size: 15px;
    width: 80%;
    left: 35px;
  }

  .table-icons{
    top: 140px;
  }

  .table-icons2{
    top: 140px;
  }

  #make{
    margin-left: -55px;
  }

  #num{
    margin-left: -25px;
  }

  #toronto {
    font-size: 18px;
  }

  #make, #num {
    font-size: 18px;
    text-align: left;
  }

  .mcapp {
    width: 200px;
    height: 400px;
    background-image: url("photos/mcapp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top:450px;

  }
}

@media screen and (min-width: 480px) and (max-width: 539px){
  /*INDEX PAGE*/
  .image_array{
    width: 600px;
    height: 400px;
    margin: auto;
    left: 0;
    right: 0;
    top: 200px;
  }
  .slide1,.slide2,.slide3{
    width: 100%;
  }
  .navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 148px;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid #b9b0c0;
    z-index: 100;
    font-size: 0px;
  }
  .navigation ul {
      margin-top:30px;
      line-height: 40px;
  }
  span.fa.fa-envelope {
    position: fixed;
    top: 100px;
    right: 75px;
    font-size: 28px;
  }
  span.fa.fa-instagram {
    color: black;
    position: fixed;
    top: 100px;
    right: 25px;
    font-size: 30px;
  }
  #logo {
    left: 97px;
    top: 20px;
    color:  #dfbbbb;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 60px;
    left: 110px;
  }
  #makeup {
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      color: black;
      position: fixed;
      left: 30px;
      font-weight: bolder;
      text-align: left;
      top: 80px;
    }

  .brushes{
    margin: auto;
    left: 0;
    right: 0;
    width: 600px;
    height: 110px;
    top: 0px;
    background-position:0 300px;
  }
  .nudepal{
    background-image: url("photos/nudepal.jpg");
    background-size: cover;
    background-position:0 200px;
    margin: auto;
    left: 0;
    right: 0;
    width: 600px;
    height: 100px;
    margin-top: 100px;
  }
  .indexscroll{
    top: 650px;
  }

  #box {
    display: none;
  }
  #logo-2 {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    transform: rotate(0deg);
    transform-origin: left top 0;
    margin: auto;
    left: 32%;
    top: 8px;
  }
  #makeup-2 {
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    transform: rotate(0deg);
    transform-origin: left top 0;
    padding-top: 30px;
    margin: auto;
    left: 10%;
  }
  a{
    padding-right: 10px;
  }
  /*PORTFOLIO*/
  #slides{
    position: absolute;
    width: 80%;
    height: 350px;
    margin: auto;
    top: 530px;
    left: 18px;
    bottom: 0;
    right: 0;
  }
  /*PRICES*/
  .grey-box3{
    width: 400px;
    top: 148px;
  }

  .prices {
    position: absolute;
    margin: auto;
    margin-top: 10px;
  }

  .cost {
    font-family: 'Raleway', sans-serif;
    font-size: 10x;
    padding-top: 20px;
    width: 80%;
    text-align: left;
    margin: auto;
    height: 700px;
    color: black;
    text-shadow: 1px 1px #grey;
  }


    .service {
      font-size: 10px;
      width: 250px;
    }

    td {
      padding-right: 120px;
      font-size: 15px;
    }
    /*ABOUT*/
    .grey-box{
      width: 400px;
      top: 148px;
    }

    #selfie {
      width: 100px;
      height:100px;
      margin-top: 10px;
    }

    .about {
      position: absolute;
      width: 700px;
      top: 190px;
      left: -150px;
    }
  .bio {
    font-size: 10px;
    padding-top: -100px;
    width: 50%;
    height: 1100px;
  }

  #about-me {
    margin-top: -80px;
    font-size: 25px;
    text-align:center;
    padding-bottom: 20px;
  }

  #pro {
    font-size: 15px;
    margin-top: -20px;
    text-align: center;
  }
  /*CONTACTS PAGE*/

  .grey-box2{
    position: fixed;
    width: 400px;
    text-align: left;
    margin: auto;
    top: 148px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(211,211,211, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .contact-form {
    top: 0px;
    font-size: 15px;
    width: 80%;
    left: 35px;
  }

  .table-icons{
    top: 140px;
  }

  .table-icons2{
    top: 140px;
  }

  #make{
    margin-left: -35px;
  }

  #num{
    margin-left: -15px;
  }

  #toronto {
    font-size: 18px;
  }

  #make, #num {
    font-size: 18px;
    text-align: left;
  }

  .mcapp {
    width: 200px;
    height: 300px;
    background-image: url("photos/mcapp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top:450px;

  }

}

@media screen and (min-width: 540px) and (max-width: 639px){

  /*INDEX PAGE*/
  .image_array{
    width: 800px;
    height: 400px;
    margin: auto;
    left: 0;
    right: 0;
    top: 200px;
  }
  .slide1,.slide2,.slide3{
    width: 100%;
  }
  .navbar {
    background-color: white;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 148px;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid #b9b0c0;
    z-index: 100;
    font-size: 0px;
  }
  .navigation ul {
      margin-top:30px;
      line-height: 40px;
  }
  span.fa.fa-envelope {
    position: fixed;
    top: 100px;
    right: 75px;
    font-size: 28px;
  }
  span.fa.fa-instagram {
    color: black;
    position: fixed;
    top: 100px;
    right: 25px;
    font-size: 30px;
  }
  #logo {
    left: 97px;
    top: 20px;
    color:  #dfbbbb;
    font-family: 'Nothing You Could Do', cursive;
    font-size: 60px;
    left: 110px;
  }
  #makeup {
      font-family: 'Raleway', sans-serif;
      font-size: 20px;
      color: black;
      position: fixed;
      left: 30px;
      font-weight: bolder;
      text-align: left;
      top: 80px;
    }

  .brushes{
    margin: auto;
    left: 0;
    right: 0;
    width: 700px;
    height: 110px;
    top: 0px;
    background-position:0 300px;
  }
  .nudepal{
    background-image: url("photos/nudepal.jpg");
    background-size: cover;
    background-position:0 200px;
    margin: auto;
    left: 0;
    right: 0;
    width: 700px;
    height: 100px;
    margin-top: 100px;
  }
  .indexscroll{
    top: 650px;
  }

  #box {
    display: none;
  }
  #logo-2 {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    transform: rotate(0deg);
    transform-origin: left top 0;
    margin: auto;
    left: 32%;
    top: 8px;
  }
  #makeup-2 {
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-weight: bolder;
    transform: rotate(0deg);
    transform-origin: left top 0;
    padding-top: 30px;
    margin: auto;
    left: 10%;
  }
  a{
    padding-right: 10px;
  }
  /*PORTFOLIO*/
  #slides{
    position: absolute;
    width: 80%;
    height: 350px;
    margin: auto;
    top: 540px;
    left: 18px;
    bottom: 0;
    right: 0;
  }
  /*PRICES*/
  .grey-box3{
    width: 500px;
    top: 148px;
  }
  .prices {
    position: absolute;
    margin: auto;
    margin-top: 10px;
  }
  .cost {
    font-family: 'Raleway', sans-serif;
    font-size: 10x;
    padding-top: 20px;
    width: 80%;
    text-align: left;
    margin: auto;
    height: 700px;
    color: black;
    text-shadow: 1px 1px #grey;
  }
  .service {
    font-size: 10px;
    width: 400px;
  }

  td {
    width: 90%;
    padding-right: 150px;
    font-size: 15px;
  }
  /*ABOUT*/
  .grey-box{
    width: 400px;
    top: 148px;
  }

  #selfie {
    width: 100px;
    height:100px;
    margin-top: 10px;
  }

  .about {
    position: absolute;
    width: 700px;
    top: 190px;
    left: -150px;
  }

  .bio {
    font-size: 10px;
    padding-top: -100px;
    width: 50%;
    height: 900px;
  }

#about-me {
  margin-top: -80px;
  font-size: 25px;
  text-align:center;
  padding-bottom: 20px;
}

#pro {
  font-size: 15px;
  margin-top: -20px;
  text-align: center;
}
/*CONTACTS PAGE*/

.grey-box2{
  position: fixed;
  width: 400px;
  text-align: left;
  margin: auto;
  top: 148px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(211,211,211, 0.8);
  overflow-y: scroll;
  overflow-x: hidden;
}

.contact-form {
  top: 0px;
  font-size: 15px;
  width: 80%;
  left: 35px;
}

.table-icons{
  top: 140px;
}

.table-icons2{
  top: 140px;
}

#make{
  margin-left: -35px;
}

#num{
  margin-left: -15px;
}

#toronto {
  font-size: 18px;
}

#make, #num {
  font-size: 18px;
  text-align: left;
}

.mcapp {
  width: 200px;
  height: 300px;
  background-image: url("photos/mcapp.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  top:450px;

}

}


@media screen and (min-width: 640px) and (max-width: 719px){

    /*INDEX PAGE*/
    .image_array{
      width: 800px;
      height: 400px;
      margin: auto;
      left: 0;
      right: 0;
      top: 200px;
    }
    .slide1,.slide2,.slide3{
      width: 100%;
    }
    .navbar {
      background-color: white;
      width: 100%;
      position: fixed;
      top: 0px;
      height: 148px;
      text-decoration: none;
      text-align: center;
      border-bottom: 2px solid #b9b0c0;
      z-index: 100;
      font-size: 0px;
    }
    .navigation ul {
        margin-top:30px;
        line-height: 40px;
    }
    span.fa.fa-envelope {
      position: fixed;
      top: 100px;
      right: 75px;
      font-size: 28px;
    }
    span.fa.fa-instagram {
      color: black;
      position: fixed;
      top: 100px;
      right: 25px;
      font-size: 30px;
    }
    #logo {
      left: 97px;
      top: 20px;
      color:  #dfbbbb;
      font-family: 'Nothing You Could Do', cursive;
      font-size: 60px;
      left: 110px;
    }
    #makeup {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: black;
        position: fixed;
        left: 30px;
        font-weight: bolder;
        text-align: left;
        top: 80px;
      }

    .brushes{
      margin: auto;
      left: 0;
      right: 0;
      width: 700px;
      height: 110px;
      top: 0px;
      background-position:0 300px;
    }
    .nudepal{
      background-image: url("photos/nudepal.jpg");
      background-size: cover;
      background-position:0 200px;
      margin: auto;
      left: 0;
      right: 0;
      width: 700px;
      height: 100px;
      margin-top: 100px;
    }
    .indexscroll{
      top: 650px;
    }

    #box {
      display: none;
    }
    #logo-2 {
      font-weight: bolder;
      font-size: 50px;
      text-align: center;
      transform: rotate(0deg);
      transform-origin: left top 0;
      margin: auto;
      left: 32%;
      top: 8px;
    }
    #makeup-2 {
      width: 100%;
      position: absolute;
      font-size: 20px;
      font-weight: bolder;
      transform: rotate(0deg);
      transform-origin: left top 0;
      padding-top: 30px;
      margin: auto;
      left: 10%;
    }
    a{
      padding-right: 10px;
    }
    /*PORTFOLIO*/
    #slides{
      position: absolute;
      width: 80%;
      height: 350px;
      margin: auto;
      top: 540px;
      left: 18px;
      bottom: 0;
      right: 0;
    }
    /*PRICES*/
    .grey-box3{
      width: 500px;
      top: 148px;
    }

    .prices {
      position: absolute;
      margin: auto;
      margin-top: 10px;
    }

    .cost {
      font-family: 'Raleway', sans-serif;
      font-size: 10x;
      padding-top: 20px;
      width: 80%;
      text-align: left;
      margin: auto;
      height: 700px;
      color: black;
      text-shadow: 1px 1px #grey;
    }

    .service {
      font-size: 10px;
      width: 400px;
    }

    td {
      width: 90%;
      padding-right: 150px;
      font-size: 15px;
    }
    /*ABOUT*/
    .grey-box{
      width: 600px;
      top: 148px;
    }

    #selfie {
      width: 100px;
      height:100px;
      margin-top: 20px;
    }

    .about {
      position: absolute;
      width: 1000px;
      top: 210px;
      left: -200px;
    }
  .bio {
    font-size: 10px;
    padding-top: -100px;
    width: 50%;
    height: 700px;
  }

  #about-me {
    margin-top: -80px;
    font-size: 25px;
    text-align:center;
    padding-bottom: 20px;
  }

  #pro {
    font-size: 15px;
    margin-top: -20px;
    text-align: center;
  }
  /*CONTACTS PAGE*/

  .grey-box2{
    position: fixed;
    width: 400px;
    text-align: left;
    margin: auto;
    top: 148px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(211,211,211, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .contact-form {
    top: 0px;
    font-size: 15px;
    width: 80%;
    left: 35px;
  }

  .table-icons{
    top: 140px;
  }

  .table-icons2{
    top: 140px;
  }

  #make{
    margin-left: -35px;
  }

  #num{
    margin-left: -15px;
  }

  #toronto {
    font-size: 18px;
  }

  #make, #num {
    font-size: 18px;
    text-align: left;
  }

  .mcapp {
    width: 300px;
    height: 300px;
    background-image: url("photos/mcapp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top:450px;

  }

}


@media screen and (min-width: 720px) and (max-width: 800px){

    /*INDEX PAGE*/
    .image_array{
      width: 800px;
      height: 600px;
      margin: auto;
      left: 0;
      right: 0;
      top: 200px;
    }
    .slide1,.slide2,.slide3{
      width: 100%;
    }
    .navbar {
      background-color: white;
      width: 100%;
      position: fixed;
      top: 0px;
      height: 148px;
      text-decoration: none;
      text-align: center;
      border-bottom: 2px solid #b9b0c0;
      z-index: 100;
      font-size: 0px;
    }
    .navigation ul {
        margin-top:30px;
        line-height: 40px;
    }
    span.fa.fa-envelope {
      position: fixed;
      top: 100px;
      right: 75px;
      font-size: 28px;
    }
    span.fa.fa-instagram {
      color: black;
      position: fixed;
      top: 100px;
      right: 25px;
      font-size: 30px;
    }
    #logo {
      left: 97px;
      top: 20px;
      color:  #dfbbbb;
      font-family: 'Nothing You Could Do', cursive;
      font-size: 60px;
      left: 110px;
    }
    #makeup {
        font-family: 'Raleway', sans-serif;
        font-size: 20px;
        color: black;
        position: fixed;
        left: 30px;
        font-weight: bolder;
        text-align: left;
        top: 80px;
      }

    .brushes{
      margin: auto;
      left: 0;
      right: 0;
      width: 800px;
      height: 110px;
      top: 0px;
      background-position:0 350px;
    }
    .nudepal{
      background-image: url("photos/nudepal.jpg");
      background-size: cover;
      background-position:0 200px;
      margin: auto;
      left: 0;
      right: 0;
      width: 800px;
      height: 100px;
      margin-top: 100px;
    }
    .indexscroll{
      top: 850px;
      height: 700px;
    }

    #box {
      display: none;
    }
    #logo-2 {
      font-weight: bolder;
      font-size: 50px;
      text-align: center;
      transform: rotate(0deg);
      transform-origin: left top 0;
      margin: auto;
      left: 32%;
      top: 8px;
    }
    #makeup-2 {
      width: 100%;
      position: absolute;
      font-size: 20px;
      font-weight: bolder;
      transform: rotate(0deg);
      transform-origin: left top 0;
      padding-top: 30px;
      margin: auto;
      left: 10%;
    }
    a{
      padding-right: 10px;
    }
    /*PORTFOLIO*/
    #slides{
      position: absolute;
      width: 100%;
      height: 350px;
      margin: auto;
      top: 550px;
      left: 18px;
      bottom: 0;
      right: 0;
    }
    /*PRICES*/
    .grey-box3{
      width: 600px;
      top: 148px;
    }

    .prices {
      position: absolute;
      margin: auto;
      margin-top: 10px;
    }

    .cost {
      font-family: 'Raleway', sans-serif;
      font-size: 10x;
      padding-top: 20px;
      width: 80%;
      text-align: left;
      margin: auto;
      height: 700px;
      color: black;
      text-shadow: 1px 1px #grey;
    }

    .service {
      font-size: 10px;
      width: 400px;
    }

    td {
      width: 90%;
      padding-right: 200px;
      font-size: 15px;
    }
    /*ABOUT*/
    .grey-box{
      width: 600px;
      top: 148px;
    }

    #selfie {
      width: 100px;
      height:100px;
      margin-top: 20px;
    }

    .about {
      position: absolute;
      width: 1000px;
      top: 210px;
      left: -200px;
    }
  .bio {
    font-size: 10px;
    padding-top: -100px;
    width: 50%;
    height: 700px;
  }

  #about-me {
    margin-top: -80px;
    font-size: 25px;
    text-align:center;
    padding-bottom: 20px;
  }

  #pro {
    font-size: 15px;
    margin-top: -20px;
    text-align: center;
  }
  /*CONTACTS PAGE*/

  .grey-box2{
    position: fixed;
    width: 500px;
    text-align: left;
    margin: auto;
    top: 148px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(211,211,211, 0.8);
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .contact-form {
    top: 0px;
    font-size: 15px;
    width: 80%;
    left: 35px;
  }

  .table-icons{
    top: 140px;
    left: 135px;
  }

  .table-icons2{
    top: 140px;
    left: 180px;
  }

  #make{
    margin-left: -1px;
  }

  #num{
    margin-left: -15px;
  }

  #toronto {
    font-size: 18px;
  }

  #make, #num {
    font-size: 18px;
    text-align: left;
  }

  .mcapp {
    width: 350px;
    height: 350px;
    background-image: url("photos/mcapp.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top:450px;

  }

}
@media screen and (min-width: 801px) and (max-width: 1080px){

      /*INDEX PAGE*/
      .image_array{
        width: 800px;
        height: 600px;
        margin: auto;
        left: 0;
        right: 0;
        top: 200px;
      }
      .slide1,.slide2,.slide3{
        width: 100%;
      }
      .navbar {
        background-color: white;
        width: 100%;
        position: fixed;
        top: 0px;
        height: 148px;
        text-decoration: none;
        text-align: center;
        border-bottom: 2px solid #b9b0c0;
        z-index: 100;
        font-size: 0px;
      }
      .navigation ul {
          margin-top:30px;
          line-height: 40px;
      }
      span.fa.fa-envelope {
        position: fixed;
        top: 100px;
        right: 75px;
        font-size: 28px;
      }
      span.fa.fa-instagram {
        color: black;
        position: fixed;
        top: 100px;
        right: 25px;
        font-size: 30px;
      }
      #logo {
        left: 97px;
        top: 20px;
        color:  #dfbbbb;
        font-family: 'Nothing You Could Do', cursive;
        font-size: 60px;
        left: 110px;
      }
      #makeup {
          font-family: 'Raleway', sans-serif;
          font-size: 20px;
          color: black;
          position: fixed;
          left: 30px;
          font-weight: bolder;
          text-align: left;
          top: 80px;
        }

      .brushes{
        margin: auto;
        left: 0;
        right: 0;
        width: 800px;
        height: 110px;
        top: 0px;
        background-position:0 350px;
      }
      .nudepal{
        background-image: url("photos/nudepal.jpg");
        background-size: cover;
        background-position:0 200px;
        margin: auto;
        left: 0;
        right: 0;
        width: 800px;
        height: 100px;
        margin-top: 100px;
      }
      .indexscroll{
        top: 850px;
        height: 700px;
      }

      #box {
        display: none;
      }
      #logo-2 {
        font-weight: bolder;
        font-size: 50px;
        text-align: center;
        transform: rotate(0deg);
        transform-origin: left top 0;
        margin: auto;
        left: 32%;
        top: 8px;
      }
      #makeup-2 {
        width: 100%;
        position: absolute;
        font-size: 20px;
        font-weight: bolder;
        transform: rotate(0deg);
        transform-origin: left top 0;
        padding-top: 30px;
        margin: auto;
        left: 10%;
      }
      a{
        padding-right: 10px;
      }
      /*PORTFOLIO*/
      #slides{
        position: absolute;
        width: 100%;
        height: 500px;
        margin: auto;
        top: 00px;
        left: 18px;
        bottom: 0;
        right: 0;
      }
      /*PRICES*/
      /*PRICES*/
      .grey-box3{
        width: 600px;
        top: 148px;
      }

      .prices {
        position: absolute;
        margin: auto;
        margin-top: 10px;
      }

      .cost {
        font-family: 'Raleway', sans-serif;
        font-size: 10x;
        padding-top: 20px;
        width: 80%;
        text-align: left;
        margin: auto;
        height: 700px;
        color: black;
        text-shadow: 1px 1px #grey;
      }

      .service {
        font-size: 10px;
        width: 600px;
      }

      td {
        width: 90%;
        padding-right: 200px;
        font-size: 15px;
      }
      /*ABOUT*/
      .grey-box{
        width: 600px;
        top: 148px;
      }

      #selfie {
        width: 150px;
        height:150px;
        margin-top: 17px;
      }

      .about {
        position: absolute;
        width: 1000px;
        top: 250px;
        left: -200px;
      }
    .bio {
      font-size: 10px;
      padding-top: -100px;
      width: 50%;
      height: 700px;
    }

    #about-me {
      margin-top: -80px;
      font-size: 25px;
      text-align:center;
      padding-bottom: 20px;
    }

    #pro {
      font-size: 15px;
      margin-top: -20px;
      text-align: center;
    }
    /*CONTACTS PAGE*/

    .grey-box2{
      position: fixed;
      width: 500px;
      text-align: left;
      margin: auto;
      top: 148px;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(211,211,211, 0.8);
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .contact-form {
      top: 0px;
      font-size: 15px;
      width: 80%;
      left: 35px;
    }

    .table-icons{
      top: 140px;
      left: 135px;
    }

    .table-icons2{
      top: 140px;
      left: 185px;
    }

    #make{
      margin-left: -1px;
    }

    #num{
      margin-left: -10px;
    }

    #toronto {
      font-size: 18px;
    }

    #make, #num {
      font-size: 18px;
      text-align: left;
    }

    .mcapp {
      width: 350px;
      height: 350px;
      background-image: url("photos/mcapp.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      margin: auto;
      right: 0;
      left: 0;
      top:450px;

    }

  }

@media screen and (min-width: 1081px) and (max-width: 1440px){

        /*INDEX PAGE*/
        .image_array{
          width: 800px;
          height: 600px;
          margin: auto;
          left: 0;
          right: 0;
          top: 200px;
        }
        .slide1,.slide2,.slide3{
          width: 100%;
        }
        .navbar {
          background-color: white;
          width: 100%;
          position: fixed;
          top: 0px;
          height: 148px;
          text-decoration: none;
          text-align: center;
          border-bottom: 2px solid #b9b0c0;
          z-index: 100;
          font-size: 0px;
        }
        .navigation ul {
            margin-top:30px;
            line-height: 40px;
        }
        span.fa.fa-envelope {
          position: fixed;
          top: 100px;
          right: 75px;
          font-size: 28px;
        }
        span.fa.fa-instagram {
          color: black;
          position: fixed;
          top: 100px;
          right: 25px;
          font-size: 30px;
        }
        #logo {
          left: 97px;
          top: 20px;
          color:  #dfbbbb;
          font-family: 'Nothing You Could Do', cursive;
          font-size: 60px;
          left: 110px;
        }
        #makeup {
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            color: black;
            position: fixed;
            left: 30px;
            font-weight: bolder;
            text-align: left;
            top: 80px;
          }

        .brushes{
          margin: auto;
          left: 0;
          right: 0;
          width: 800px;
          height: 110px;
          top: 0px;
          background-position:0 350px;
        }
        .nudepal{
          background-image: url("photos/nudepal.jpg");
          background-size: cover;
          background-position:0 200px;
          margin: auto;
          left: 0;
          right: 0;
          width: 800px;
          height: 100px;
          margin-top: 100px;
        }
        .indexscroll{
          top: 850px;
          height: 700px;
        }

        #box {
          display: none;
        }
        #logo-2 {
          font-weight: bolder;
          font-size: 50px;
          text-align: center;
          transform: rotate(0deg);
          transform-origin: left top 0;
          margin: auto;
          left: 32%;
          top: 8px;
        }
        #makeup-2 {
          width: 100%;
          position: absolute;
          font-size: 20px;
          font-weight: bolder;
          transform: rotate(0deg);
          transform-origin: left top 0;
          padding-top: 30px;
          margin: auto;
          left: 10%;
        }
        a{
          padding-right: 10px;
        }
        /*PORTFOLIO*/
        #slides{
          position: absolute;
          width: 100%;
          height: 600px;
          margin: auto;
          top: 800px;
          left: 18px;
          bottom: 0;
          right: 0;
        }
        /*PRICES*/
        .grey-box3{
          width: 700px;
          top: 148px;
        }

        .prices {
          position: absolute;
          margin: auto;
          margin-top: 10px;
        }

        .cost {
          font-family: 'Raleway', sans-serif;
          font-size: 12x;
          padding-top: 20px;
          width: 80%;
          text-align: left;
          margin: auto;
          height: 700px;
          color: black;
          text-shadow: 1px 1px #grey;
        }

        .service {
          font-size: 10px;
          width: 600px;
        }

        td {
          width: 100%;
          padding-right: 250px;
          font-size: 18px;
        }
        /*ABOUT*/
        .grey-box{
          width: 600px;
          top: 148px;
        }

        #selfie {
          width: 150px;
          height:150px;
          margin-top: 17px;
        }

        .about {
          position: absolute;
          width: 1000px;
          top: 250px;
          left: -200px;
        }
      .bio {
        font-size: 10px;
        padding-top: -100px;
        width: 50%;
        height: 700px;
      }

      #about-me {
        margin-top: -80px;
        font-size: 25px;
        text-align:center;
        padding-bottom: 20px;
      }

      #pro {
        font-size: 15px;
        margin-top: -20px;
        text-align: center;
      }
      /*CONTACTS PAGE*/

      .grey-box2{
        position: fixed;
        width: 500px;
        text-align: left;
        margin: auto;
        top: 148px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(211,211,211, 0.8);
        overflow-y: scroll;
        overflow-x: hidden;
      }

      .contact-form {
        top: 0px;
        font-size: 15px;
        width: 80%;
        left: 3px;
      }

      .table-icons{
        top: 140px;
        left: 135px;
      }

      .table-icons2{
        top: 140px;
        left: 185px;
      }

      #make{
        margin-left: -1px;
      }

      #num{
        margin-left: -10px;
      }

      #toronto {
        font-size: 18px;
      }

      #make, #num {
        font-size: 18px;
        text-align: left;
      }

      .mcapp {
        width: 350px;
        height: 350px;
        background-image: url("photos/mcapp.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top:450px;

      }

    }
@media screen and (min-width: 1441px) and (max-width: 2160px){

        /*INDEX PAGE*/
        .image_array{
          width: 800px;
          height: 600px;
          margin: auto;
          left: 0;
          right: 0;
          top: 200px;
        }
        .slide1,.slide2,.slide3{
          width: 100%;
        }
        .navbar {
          background-color: white;
          width: 100%;
          position: fixed;
          top: 0px;
          height: 148px;
          text-decoration: none;
          text-align: center;
          border-bottom: 2px solid #b9b0c0;
          z-index: 100;
          font-size: 0px;
        }
        .navigation ul {
            margin-top:30px;
            line-height: 40px;
        }
        span.fa.fa-envelope {
          position: fixed;
          top: 100px;
          right: 75px;
          font-size: 28px;
        }
        span.fa.fa-instagram {
          color: black;
          position: fixed;
          top: 100px;
          right: 25px;
          font-size: 30px;
        }
        #logo {
          left: 97px;
          top: 20px;
          color:  #dfbbbb;
          font-family: 'Nothing You Could Do', cursive;
          font-size: 60px;
          left: 110px;
        }
        #makeup {
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            color: black;
            position: fixed;
            left: 30px;
            font-weight: bolder;
            text-align: left;
            top: 80px;
          }

        .brushes{
          margin: auto;
          left: 0;
          right: 0;
          width: 800px;
          height: 110px;
          top: 0px;
          background-position:0 350px;
        }
        .nudepal{
          background-image: url("photos/nudepal.jpg");
          background-size: cover;
          background-position:0 200px;
          margin: auto;
          left: 0;
          right: 0;
          width: 800px;
          height: 100px;
          margin-top: 100px;
        }
        .indexscroll{
          top: 850px;
          height: 700px;
        }

        #box {
          display: none;
        }
        #logo-2 {
          font-weight: bolder;
          font-size: 50px;
          text-align: center;
          transform: rotate(0deg);
          transform-origin: left top 0;
          margin: auto;
          left: 32%;
          top: 8px;
        }
        #makeup-2 {
          width: 100%;
          position: absolute;
          font-size: 20px;
          font-weight: bolder;
          transform: rotate(0deg);
          transform-origin: left top 0;
          padding-top: 30px;
          margin: auto;
          left: 10%;
        }
        a{
          padding-right: 10px;
        }
        /*PORTFOLIO*/
        #slides{
          position: absolute;
          width: 900px;
          height: 700px;
          margin: auto;
          top: 1000px;
          left: 18px;
          bottom: 0;
          right: 0;
        }
        /*PRICES*/
        .grey-box3{
          width: 700px;
          top: 148px;
        }

        .prices {
          position: absolute;
          margin: auto;
          margin-top: 10px;
        }

        .cost {
          font-family: 'Raleway', sans-serif;
          font-size: 12x;
          padding-top: 20px;
          width: 80%;
          text-align: left;
          margin: auto;
          height: 700px;
          color: black;
          text-shadow: 1px 1px #grey;
        }

        .service {
          font-size: 10px;
          width: 600px;
        }

        td {
          width: 100%;
          padding-right: 250px;
          font-size: 18px;
        }
        /*ABOUT*/
        .grey-box{
          width: 600px;
          top: 148px;
        }

        #selfie {
          width: 150px;
          height:150px;
          margin-top: 17px;
        }

        .about {
          position: absolute;
          width: 1000px;
          top: 250px;
          left: -200px;
        }
      .bio {
        font-size: 10px;
        padding-top: -100px;
        width: 50%;
        height: 700px;
      }

      #about-me {
        margin-top: -80px;
        font-size: 25px;
        text-align:center;
        padding-bottom: 20px;
      }

      #pro {
        font-size: 15px;
        margin-top: -20px;
        text-align: center;
      }
      /*CONTACTS PAGE*/

      .grey-box2{
        position: fixed;
        width: 500px;
        text-align: left;
        margin: auto;
        top: 148px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(211,211,211, 0.8);
        overflow-y: scroll;
        overflow-x: hidden;
      }

      .contact-form {
        top: 0px;
        font-size: 15px;
        width: 80%;
        left: 45px;
      }

      .table-icons{
        top: 140px;
        left: 140px;
      }

      .table-icons2{
        top: 140px;
        left: 190px;
      }

      #make{
        margin-left: -1px;
      }

      #num{
        margin-left: -10px;
      }

      #toronto {
        font-size: 18px;
      }

      #make, #num {
        font-size: 18px;
        text-align: left;
      }

      .mcapp {
        width: 350px;
        height: 350px;
        background-image: url("photos/mcapp.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top:450px;

      }

    }

@media screen and (min-width: 2161px) and (max-width: 2560px){

        /*INDEX PAGE*/
        .image_array{
          width: 800px;
          height: 600px;
          margin: auto;
          left: 0;
          right: 0;
          top: 200px;
        }
        .slide1,.slide2,.slide3{
          width: 100%;
        }
        .navbar {
          background-color: white;
          width: 100%;
          position: fixed;
          top: 0px;
          height: 148px;
          text-decoration: none;
          text-align: center;
          border-bottom: 2px solid #b9b0c0;
          z-index: 100;
          font-size: 0px;
        }
        .navigation ul {
            margin-top:30px;
            line-height: 40px;
        }
        span.fa.fa-envelope {
          position: fixed;
          top: 100px;
          right: 75px;
          font-size: 28px;
        }
        span.fa.fa-instagram {
          color: black;
          position: fixed;
          top: 100px;
          right: 25px;
          font-size: 30px;
        }
        #logo {
          left: 97px;
          top: 20px;
          color:  #dfbbbb;
          font-family: 'Nothing You Could Do', cursive;
          font-size: 60px;
          left: 110px;
        }
        #makeup {
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            color: black;
            position: fixed;
            left: 30px;
            font-weight: bolder;
            text-align: left;
            top: 80px;
          }

        .brushes{
          margin: auto;
          left: 0;
          right: 0;
          width: 800px;
          height: 110px;
          top: 0px;
          background-position:0 350px;
        }
        .nudepal{
          background-image: url("photos/nudepal.jpg");
          background-size: cover;
          background-position:0 200px;
          margin: auto;
          left: 0;
          right: 0;
          width: 800px;
          height: 100px;
          margin-top: 100px;
        }
        .indexscroll{
          top: 850px;
          height: 700px;
        }

        #box {
          display: none;
        }
        #logo-2 {
          font-weight: bolder;
          font-size: 50px;
          text-align: center;
          transform: rotate(0deg);
          transform-origin: left top 0;
          margin: auto;
          left: 32%;
          top: 8px;
        }
        #makeup-2 {
          width: 100%;
          position: absolute;
          font-size: 20px;
          font-weight: bolder;
          transform: rotate(0deg);
          transform-origin: left top 0;
          padding-top: 30px;
          margin: auto;
          left: 10%;
        }
        a{
          padding-right: 10px;
        }
        /*PORTFOLIO*/
        #slides{
          position: absolute;
          width: 1000px;
          height: 1000px;
          margin: auto;
          top: 1300px;
          left: 18px;
          bottom: 0;
          right: 0;
        }
        /*PRICES*/
        .grey-box3{
          width: 700px;
          top: 148px;
        }

        .prices {
          position: absolute;
          margin: auto;
          margin-top: 10px;
        }

        .cost {
          font-family: 'Raleway', sans-serif;
          font-size: 12x;
          padding-top: 20px;
          width: 80%;
          text-align: left;
          margin: auto;
          height: 700px;
          color: black;
          text-shadow: 1px 1px #grey;
        }

        .service {
          font-size: 10px;
          width: 600px;
        }

        td {
          width: 100%;
          padding-right: 250px;
          font-size: 18px;
        }
        /*ABOUT*/
        .grey-box{
          width: 600px;
          top: 148px;
        }

        #selfie {
          width: 150px;
          height:150px;
          margin-top: 17px;
        }

        .about {
          position: absolute;
          width: 1000px;
          top: 250px;
          left: -200px;
        }
      .bio {
        font-size: 10px;
        padding-top: -100px;
        width: 50%;
        height: 700px;
      }

      #about-me {
        margin-top: -80px;
        font-size: 25px;
        text-align:center;
        padding-bottom: 20px;
      }

      #pro {
        font-size: 15px;
        margin-top: -20px;
        text-align: center;
      }
      /*CONTACTS PAGE*/

      .grey-box2{
        position: fixed;
        width: 500px;
        text-align: left;
        margin: auto;
        top: 148px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(211,211,211, 0.8);
        overflow-y: scroll;
        overflow-x: hidden;
      }

      .contact-form {
        top: 0px;
        font-size: 15px;
        width: 80%;
        left: 45px;
      }

      .table-icons{
        top: 140px;
        left: 140px;
      }

      .table-icons2{
        top: 140px;
        left: 190px;
      }

      #make{
        margin-left: -1px;
      }

      #num{
        margin-left: -10px;
      }

      #toronto {
        font-size: 18px;
      }

      #make, #num {
        font-size: 18px;
        text-align: left;
      }

      .mcapp {
        width: 350px;
        height: 350px;
        background-image: url("photos/mcapp.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top:450px;

      }

    }

@media screen and (min-width: 2561px){

        /*INDEX PAGE*/
        .image_array{
          width: 800px;
          height: 600px;
          margin: auto;
          left: 0;
          right: 0;
          top: 200px;
        }
        .slide1,.slide2,.slide3{
          width: 100%;
        }
        .navbar {
          background-color: white;
          width: 100%;
          position: fixed;
          top: 0px;
          height: 148px;
          text-decoration: none;
          text-align: center;
          border-bottom: 2px solid #b9b0c0;
          z-index: 100;
          font-size: 0px;
        }
        .navigation ul {
            margin-top:30px;
            line-height: 40px;
        }
        span.fa.fa-envelope {
          position: fixed;
          top: 100px;
          right: 75px;
          font-size: 28px;
        }
        span.fa.fa-instagram {
          color: black;
          position: fixed;
          top: 100px;
          right: 25px;
          font-size: 30px;
        }
        #logo {
          left: 97px;
          top: 20px;
          color:  #dfbbbb;
          font-family: 'Nothing You Could Do', cursive;
          font-size: 60px;
          left: 110px;
        }
        #makeup {
            font-family: 'Raleway', sans-serif;
            font-size: 20px;
            color: black;
            position: fixed;
            left: 30px;
            font-weight: bolder;
            text-align: left;
            top: 80px;
          }

        .brushes{
          margin: auto;
          left: 0;
          right: 0;
          width: 800px;
          height: 110px;
          top: 0px;
          background-position:0 350px;
        }
        .nudepal{
          background-image: url("photos/nudepal.jpg");
          background-size: cover;
          background-position:0 200px;
          margin: auto;
          left: 0;
          right: 0;
          width: 800px;
          height: 100px;
          margin-top: 100px;
        }
        .indexscroll{
          top: 850px;
          height: 700px;
        }

        #box {
          display: none;
        }
        #logo-2 {
          font-weight: bolder;
          font-size: 50px;
          text-align: center;
          transform: rotate(0deg);
          transform-origin: left top 0;
          margin: auto;
          left: 32%;
          top: 8px;
        }
        #makeup-2 {
          width: 100%;
          position: absolute;
          font-size: 20px;
          font-weight: bolder;
          transform: rotate(0deg);
          transform-origin: left top 0;
          padding-top: 30px;
          margin: auto;
          left: 10%;
        }
        a{
          padding-right: 10px;
        }
        /*PORTFOLIO*/
        #slides{
          position: absolute;
          width: 1500px;
          height: 1000px;
          margin: auto;
          top: 1300px;
          left: 18px;
          bottom: 0;
          right: 0;
        }

        /*PRICES*/
        .grey-box3{
          width: 700px;
          top: 148px;
        }

        .prices {
          position: absolute;
          margin: auto;
          margin-top: 10px;
        }

        .cost {
          font-family: 'Raleway', sans-serif;
          font-size: 12x;
          padding-top: 20px;
          width: 80%;
          text-align: left;
          margin: auto;
          height: 700px;
          color: black;
          text-shadow: 1px 1px #grey;
        }

        .service {
          font-size: 10px;
          width: 600px;
        }

        td {
          width: 100%;
          padding-right: 250px;
          font-size: 18px;
        }
        /*ABOUT*/
        .grey-box{
          width: 600px;
          top: 148px;
        }

        #selfie {
          width: 150px;
          height:150px;
          margin-top: 17px;
        }

        .about {
          position: absolute;
          width: 1000px;
          top: 250px;
          left: -200px;
        }
      .bio {
        font-size: 10px;
        padding-top: -100px;
        width: 50%;
        height: 700px;
      }

      #about-me {
        margin-top: -80px;
        font-size: 25px;
        text-align:center;
        padding-bottom: 20px;
      }

      #pro {
        font-size: 15px;
        margin-top: -20px;
        text-align: center;
      }
      /*CONTACTS PAGE*/

      .grey-box2{
        position: fixed;
        width: 500px;
        text-align: left;
        margin: auto;
        top: 148px;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(211,211,211, 0.8);
        overflow-y: scroll;
        overflow-x: hidden;
      }

      .contact-form {
        top: 0px;
        font-size: 15px;
        width: 80%;
        left: 45px;
      }

      .table-icons{
        top: 140px;
        left: 140px;
      }

      .table-icons2{
        top: 140px;
        left: 190px;
      }

      #make{
        margin-left: -1px;
      }

      #num{
        margin-left: -10px;
      }

      #toronto {
        font-size: 18px;
      }

      #make, #num {
        font-size: 18px;
        text-align: left;
      }

      .mcapp {
        width: 350px;
        height: 350px;
        background-image: url("photos/mcapp.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top:450px;

      }

    }
