h3#service {
    width: 850px;
    margin-top: 0;
    text-align: center;
}

#services {
  width: 850px;
  height: 600px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 130px;
  left: 0px;
  background-color: #bcd2d0;
  font-family: 'Poppins', sans-serif;
}

p#reg {
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 18px;
    font-size: 13px;
    line-height: 20px;
    word-spacing: 1px;
    letter-spacing: 1px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

p.top {
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 13px;
    text-transform: uppercase;
    word-spacing: 2px;
    letter-spacing: 2px;
    font-weight: bold;
}

p.bottom {
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding-bottom: 15px;
    font-size: 13px;
    letter-spacing: 3px;
    font-style: italic;
}

p.service {
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
    line-height: 20px;
    letter-spacing: 1px;
}

#quote_side{
  background-color: #F3F3F4 ;
  color: black;
  width: 335px;
  height: 530px;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 75px;
  text-align: center;
  padding: 20px;
  font-size: 10px;
  letter-spacing: 1px;
}

p#quside {
    padding-top:30px;
    padding-bottom:20px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 4px;
    word-spacing: 1px;
    font-style: italic;
}

p#quside2 {
    padding: 10px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 3px;
    word-spacing: 2px;
}


footer#foot4 {
    margin-top: 102p;
    bottom: -1265px;
}


#bone > img{
  width: 220px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 200px;
  left: 30px;
  opacity: 0.9;
}

#btwo > img {
    width: 300px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    left: 275px;
    opacity: 0.9;
}

img#bthree {
    width: 150px;
    position: absolute;
    margin: auto;
    margin-top: 287px;
    left: 646px;
    opacity: 0.9;
}

#bfour > img {
    width: 200px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 460px;
    left: 40px;
    opacity: 0.9;
}

#bfive > img {
    width: 250px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    left: 596px;
    opacity: 0.9;
}
img#bsix {
    width: 210px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 437px;
      left: 349px;
    opacity: 0.9;
}

#bseven > img {
    width: 400px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 360px;
    left: 20px;
    opacity: 0.9;
}

#beight > img {
    width: 193px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 443px;
    left: 632px;
    opacity: 0.9;
}

#bnine > img {
    width: 300px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 511px;
    left: 300px;
    opacity: 0.9;
}

#bten > img {
    width: 300px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 647px;
    left: 558px;
    opacity: 0.9;
}

#beleven > img {
    width: 200px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 562px;
    left: 35px;
    opacity: 0.9;
}

#btwelve > img {
    width: 292px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 585px;
    left: 261px;
    opacity: 0.9;
}

article#bthirt {
    margin-top: 200px;
}

img#bthirt {
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 460px;
    left: 16px;
    opacity: 0.9;
    width: 181px;
}

#bfourt > img {
    width: 84px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 141px;
    left: 485px;
    opacity: 0.9;
}

#bfift > img {
    width: 203px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 99px;
    left: 38px;
    opacity: 0.9;
}

#bsixt > img {
    width: 294px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 469px;
    left: 220px;
    opacity: 0.9;
}

p#qu2 {
    text-align: center;
    padding-top: 33px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-style: italic;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
}

p#qutwo2 {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 5px;
}

#quote2 {
  margin-top: 740px;
  height: 180px;
  background-color: #c49b9d;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
}
