/**
 * Eric Meyer's Reset CSS v2.0
(https://meyerweb.com/
eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*{
  box-sizing: border-box;
}

html {
  line-height: 1.35;
  width: 100%
}

body{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

main {
    width: 1206px;
    background-color: white;
    margin: auto;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



#instalogo3 {
    width: 4%;
    position: absolute;
    margin: auto;
    margin-left: 125px;
    margin-top: 21px;
}
#instalogo3:hover {
  width: 5%;
}

#enlogo3 {
    width: 4.6%;
    position: absolute;
    margin: auto;
    margin-left: 57px;
    margin-top: 20px;
}
#enlogo3:hover {
  width: 5.5%;
}


header {
    margin-top: 80px;
    text-align: center;
    padding-bottom: 50px;
}

header h1 {
  font-size: 60px;
  font-weight: lighter;
}

.navbar {
  color: black;
  text-align: center;
  z-index: 100;
  position: absolute;
  height: 90px;
  width: 1200px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  font-size: 18px;
}

ul li {
  margin: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: inline-block;
  padding-top: 35px;
}

ul a {
  margin: auto;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover{
  font:grey;
  font-weight: bold;
}

img {
  width: 800px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 150px;
  left: 0px;
  opacity: 0.9;
}

.about_snip{
  height: 450px;
  width: 350px;
  display: block;
  position: relative;
  margin: auto;
  margin-top: 120px;
  right: -420px;
  text-align: center;
  padding: 20px;
  font-size: 15px;
}

h3{
  width: 335px;
  height: 30px;
  padding-top: 7px;
  margin-top: 10px;
  background-color: black;
  color: white;
  letter-spacing: 10px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;
}

h4{
  width: 335px;
  margin-top: 464px;
  height: 30px;
  padding-top: 7px;
  background-color: black;
  color: white;
  letter-spacing: 10px;
  font-weight: 900;
  font-family: 'Poppins', sans-serif;

}
.about_snip > img {
  float: left;
  position: absolute;
  width: 170px;
  margin: auto;
  top: 80px;
  left: 15px;
  right: 0;
  border-radius: 50%;
  opacity: 0.8;
}

.about_snip > p{
  display: inline;
  position: absolute;
  margin: auto;
  left: 15px;
  right: 0;
  top: 260px;
  padding: 10px;
  line-height: 20px;
  font-size: 12px;
  background-color: white;
}

p#learn{
  display: inline;
  position: absolute;
  margin: auto;
  left: 15px;
  right: 0;
  top:450px;
  padding: 10px;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
}
p#learn:hover{
  color: grey;
}

#instalogo {
  width: 17%;
  position: absolute;
  margin:auto;
  margin-left: 190px;
  margin-top: 0px;
}
#instalogo:hover {
  width: 18%;
}

#enlogo {
  width: 18.6%;
  position: absolute;
  margin:auto;
  margin-left: 110px;
  margin-top: 0px;
}
#enlogo:hover {
  width: 19.4%;
}


#picone > img{
  width: 320px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 200px;
  left: 0;
  opacity: 0.9;
}
#pictwo > img {
    width: 420px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    left: 334px;
    opacity: 0.9;
}
img#pthree {
    width: 430px;
    position: absolute;
    margin: auto;
    margin-top: 355px;
    left: 770px;
    opacity: 0.9;
}
#picfour > img {
    width: 210px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 200px;
    left: 990px;
    opacity: 0.9;
}

#picfive > img{
  width: 210px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 200px;
  left: 769px;
  opacity: 0.9;
}

img#psix {
  width: 210px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 496px;
  left: 336px;
  opacity: 0.9;
}

#picseven > img{
  width: 320px;
  display: block;
  position: absolute;
  margin: auto;
  margin-top: 430px;
  left: 0;
  opacity: 0.9;
}

#piceight > img {
    width: 430px;
    height: 256px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 655px;
    left: 770px;
    opacity: 0.9;
}

#picnine > img {
    width: 200px;
    height: 315px;
    display: block;
    position: absolute;
    margin: auto;
    margin-top: 496px;
    left: 555px;
    opacity: 0.9;
}

button {
    -webkit-appearance: button;
    width: 417px;
    margin-top: 831px;
    height: 80px;
    padding-top: 10px;
    background-color: #d0b783;
    color: black;
    letter-spacing: 10px;
    font-weight: 900;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: none;
    border: none;
    margin-left: 336px;
}

button a {
  width: 340px;
  text-decoration: none;
}

button:hover {
  background-color: #decca8;
}

button a:hover{
  color: white;
}


p#qu {
    text-align: center;
    padding-top: 33px;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    font-style: italic;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
}

p#qutwo {
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 5px;
}

#quote {
  margin-top: 30px;
  height: 120px;
  background-color: #c49b9d;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
}




#foot1{
  width: 1200px;
  position: absolute;
  margin: auto;
  padding-top: 20px;
  right: 0;
  height: 200px;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: white;
}

#instalogo2 {
    width: 3.5%;
    position: absolute;
    margin: auto;
    margin-left: 610px;
    margin-top: 18px;
}
#instalogo2:hover {
  width: 4%;
}

#enlogo2 {
    width: 4%;
    position: absolute;
    margin: auto;
    margin-left: 540px;
    margin-top: 16px;
}
#enlogo2:hover {
  width: 4.5%;
}

h6#footer {
    padding-top: 70px;
    font-size: 10px;
    line-height: 19px;
}

ul.navbar2 {
    font-size: 11px;
    margin-top: -19px;
    padding-bottom: 8px;
}

footer#foot1 {
    margin-top: 102p;
    bottom: -1265px;
}
