body {
  margin: 0;
  overflow: hidden;
}

div {
  -webkit-overflow-scrolling: touch;
}

.wrapper {
  background-image: url('photos/bg2.jpg');
  height: 100vh;
  overflow-x: hidden;
  overflow-y:auto;
  perspective: 2px;
  min-width: 110%;
  background-position: fixed;
  background-repeat: no-repeat;
  background-size: 1054px;
  background-size: cover;
  background-position: left;
  position: fixed;
  -webkit-overflow-scrolling: touch;
}

.section {
  position: relative;
  height: 110vh;
}

section.section.parallax.bg1 {
  height: 100vh;
}

section.section.parallax.bg2 {
  height: 100vh;
  background-color: rgba(247, 247, 247, 0.8);
}

section.section.parallax.bg3 {
  height: 95vh;
  background-image: url("photos/brushes.jpg");
  background-size: cover;
}

section.section.parallax.bg6 {
  height: 20vh;
}

section.section.parallax.bg4 {
  height: 100vh;
  background-color: rgba(247, 247, 247, 0.8);
}

section.section.parallax.bg5 {
  height: 70vh;
}


.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}*/

.top-of-page::after {
  background-image: url('images/black-med-min.jpg');
  background-repeat: no-repeat;
}

.experience::after {
  background-image: url('images/black-med-min.jpg');
  background-repeat: no-repeat;
}

/*NAV*/
/*-------------------------------------------*/
/*NAV BAR*/

.indexscroll{
  height: 500px;
  position: absolute;
  margin: auto;
  top: 600px;
  bottom: 0;
  left: 0;
  right: 0;
   -webkit-overflow-scrolling: touch;
}

#logo {
  position: absolute;
  left: 97px;
  top: -65px;
  font-weight: bolder;
  color:  #dfbbbb;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 70px;
  text-align: center;
}

#makeup {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: black;
  position: fixed;
  left: 30px;
  font-weight: bolder;
  top: 10px;
}

.navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  height: 80px;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #b9b0c0;
  z-index: 100;

}


/*NAV DROPDOWN BAR*/

.navigation {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c1aeae;
    box-shadow: 0 4px 4px -3px #232323;
    -moz-box-shadow: 0 4px 4px -3px #232323;
    -webkit-box-shadow: 0 4px 4px -3px #232323;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    padding-top: 0px;
    z-index: 300;
}

.navigation a {
    text-decoration: none;
}

.navigation ul {
    margin-top:10px;
    text-align:center;
    list-style:none;
    margin-left:auto;
    margin-right:auto;
    line-height: 4px;
}


.menulist {
    width:200px;
}


.logo {
    text-align:center;
    margin:0 auto;
}

.line1, .line2, .line3 {
  margin-top:5px;
  background-color:white;
  width:25px;
  height:4px;
  display:block;
  position:relative;
  opacity:1.0;
  border-radius:15%;
  transition: all .3s;
}

.line1.active {
  transform: rotate(270deg);
  opacity:0.0;
  background-color:black;
  top:5px;
}

.line2.active {
  transform: rotate(45deg);
  background-color:black;
}

.line3.active {
  transform: rotate(-45deg);
  background-color:black;
  top:-7px;
}

.menuitems {
    text-decoration: none;
    list-style:none;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    position:relative;
    text-align:center;
    color: black;
    opacity:0.0;
    transition: all .5s ease-in-out;
}

.menuitems:hover{
  color: white;
  text-shadow: 1px 1px #7c6d84;
}

#closebtn {
    height:25px;
    width:25px;
    position: absolute;
    text-decoration:none;
    top: 10px;
    left: 25px;
    font-size: 36px !important;
    margin-right: 50px;
    z-index:100;
    color:#fff;
    cursor:pointer;
    transition:background-position .3s;
}

#main {
    transition: margin-top .4s;
    text-align:center;
    margin:auto;
    padding: 16px;
    font-size:30px;
}


/*ICONS*/

.icons {
  position:absolute;
  margin: auto;
  top: 20px;
  color: black;
  text-align: center;
  display: inline;
  z-index: 100;
}


span.fa.fa-envelope {
  color: black;
  position: fixed;
  right: 400px;
}

span.fa.fa-envelope:hover {
  color: #f3f3f3;
  text-shadow: 2px 2px 2px black;
}

span.fa.fa-instagram {
  color: black;
  position: fixed;
  right: 150px;
}

span.fa.fa-instagram:hover {
  color: #f3f3f3;
  text-shadow: 2px 2px 2px black;
}

/*LARGE SLIDE*/

.image_array{
  max-width: 700px;
  height: 500px;
  position: absolute;
}

.slide1,.slide2,.slide3{
  position: absolute;
  left: -90px;
  width: 100%;
  height: 80%;
}

.slide1 {
  background: url("photos/HP1_0285.jpg")no-repeat center;
  background-size: cover;
  animation:fade1 9s infinite;
  -webkit-animation:fade1 8s infinite;

}

.slide2 {
  background: url("photos/makeup_eye.jpg")no-repeat center;
  background-size: cover;
  animation:fade2 8s infinite;
  -webkit-animation:fade2 8s infinite;
}

.slide3 {
  background: url("photos/lips.jpg")no-repeat center;
  background-size: cover;
  animation:fade3 8s infinite;
  -webkit-animation:fade3 8s infinite;
}


@keyframes fade1
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

/*PICS*/

#naked{
  background-image: url("photos/nudes.jpg");
  width: 700px;
  height: 300px;
  margin-top: 40px;
  margin-left: 480px;
  background-size: cover;
}

/*ABOUT*/

.about {
  font-size: 40px;
  width: 100;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin-left: 520px;
  margin-top: -250px;
}

#exp {
  font-size: 30px;
  padding-bottom: 20px;
  font-family: 'Raleway', sans-serif;
}

#circ {
  width: 120px;
  height: 120px;
  margin: auto;
  background-image: url("photos/selfie3.jpg");
  background-position: top;
  background-size: cover;
  border-radius: 50%;
  margin-bottom: 100px;
  margin-top: 20px;
  border: black solid 4px;
}

#me {
  width: 900px;
  font-size: 15px;
  padding-bottom: 10px;
  margin-left: 60px;
}

p#pro {
    font-size: 20px;
    padding-bottom: 20px;
}


/*PORTFOLIO*/

.container {
  position: absolute;
  width: 100%;
  margin: auto;
  z-index: 0;
  margin-left: -150px;
  margin-top: -210px;
}

#slides{
  position: absolute;
  width: 65%;
  height: 600px;
  left: 100px;
  list-style-type: none;
  z-index: 0;
}

.slide{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  margin-top: -90px;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing{
  opacity: 1;
  z-index: 2;
}

.controls{
  display: none;
}

.slide:nth-of-type(1){
  background-image: url('photos/pic8.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(2){
  background-image: url('photos/photo 2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(3){
  background-image: url('photos/pic1.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(4){
  background-image: url('photos/pic2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(5){
  background-image: url('photos/pic3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


.slide:nth-of-type(6){
  background-image: url('photos/pic4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(7){
  background-image: url('photos/pic5.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(8){
  background-image: url('photos/pic6.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(9){
  background-image: url('photos/MK-89.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(10){
  background-image: url('photos/bride.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(11){
  background-image: url('photos/balloon.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.slide:nth-of-type(12){
  background-image: url('photos/couple.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-of-type(13){
  background-image: url('photos/bride1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-of-type(14){
  background-image: url('photos/image4.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-of-type(15){
  background-image: url('photos/image10.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-of-type(16){
  background-image: url('photos/Attachment-2.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-of-type(17){
  background-image: url('photos/G&A_0183.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-of-type(18){
  background-image: url('photos/G&A_0249.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-of-type(19){
  background-image: url('photos/bridecar.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-of-type(20){
  background-image: url('photos/party2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.slide:nth-of-type(21){
  background-image: url('photos/party3.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.controls{
  background:  #eee;
  color: black;
  border: none;
  padding: 15px 0px;
  font-size: 20px;
  cursor: pointer;
  width: 70px;
  position: relative;
  left: 590px;
  top: 740px;
  margin: 50px;
  border-radius: 20%;
}

.controls:hover,
.controls:focus{
  background: #eee;
  color: white;
}

.container{
  position: relative;
}

.buttons{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  font-size: 0px;
}

/*PRICES*/

.prices {
  position: absolute;
  margin: auto;
  font-size: 50px;
  width: 800px;
  height: 900px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  left: 430px;

}

.cost {
  font-family: 'Raleway', sans-serif;
  font-size: 15x;
  padding-top: 20px;
  width: 100%;
  text-align: left;
  margin: auto;
  height: 700px;
  color: black;
  text-shadow: 1px 1px #grey;
  left: 300px;
  width: 600px;
}

h2 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

p.service {
  font-size: 15px;
  font-style: italic;
  margin-bottom: 30px;
  width: 1000px;
}

td {
  padding-left: 60px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

/*CONTACTS PAGE*/
.mcapp {
  width: 300px;
  height: 300px;
  background-image: url("photos/mcapp.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 300px;
  margin-top: 70px;
}


/*FOOTER*/

.footer{
  width: 900px;
  background-color: #f7f7f7;
  height: 90px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-align: center;
  margin-left: 400px;
}

.footer p {
    padding-top: 30px;
}

.footer a{
  text-decoration: none;
  color: black;
  font-size: 10px;
  opacity: 50%;
  line-height: 25px;
}

.footer a:hover{
  color: white;
  text-shadow: 1px 1px 1px black;
}

/*Web Refresh*/
main{

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera  */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/*ARROW*/

i.fa.fa-chevron-down{
padding-top:50px;
font-size: 20px;
}

.bounce {
  -webkit-animation-name: bounce;
  -moz-animation-name: bounce;
  -o-animation-name: bounce;
  animation-name: bounce;
}
.animated{-webkit-animation-fill-mode:both;
-moz-animation-fill-mode:both;
-ms-animation-fill-mode:both;
-o-animation-fill-mode:both;

            animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;

animation-fill-mode:both;
-webkit-animation-duration:2s;
-moz-animation-duration:2s;
-ms-animation-duration:2s;
-o-animation-duration:2s;
animation-duration:2s;
}


@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);}	40% {-webkit-transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-15px);}
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
  40% {-moz-transform: translateY(-30px);}
  60% {-moz-transform: translateY(-15px);}
}

@-o-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
  40% {-o-transform: translateY(-30px);}
  60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
  40% {transform: translateY(-30px);}
  60% {transform: translateY(-15px);}
}


/*BOUNCE*/
@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform:     translateY(-30px);
    transform:         translateY(-30px)
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}
span {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

span.fa.fa-envelope:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

span.fa.fa-instagram:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
