*{
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  background-image: url("photos/bg2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}

/*NAV BAR*/

#logo {
  position: absolute;
  left: 97px;
  top: -90px;
  font-weight: bolder;
  color:  #dfbbbb;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 90px;
  text-align: center;
}

#makeup {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  color: #A25C71;
  position: fixed;
  left: 14px;
  font-weight: bolder;
  top: 5px;
}


.navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0;
  height: 80px;
  text-decoration: none;
  text-align: center;
  border-bottom: 2px solid #b9b0c0;

}

li {
    display: inline-block;
    padding-top: 10px;
    padding-right: 10px;
    text-align: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 23px;
}

a{
  padding-right: 30px;
  list-style: none;
  text-decoration: none;
  color: #dfbbbb;
}

a:hover {
  color: #c1aeae;
  font-weight: bold;
  text-shadow: 1px 1px #7c6d84;
}

.icons {
  position:absolute;
  margin: auto;
  top: 20px;
  right: 100px;
  color: #bd929d;
  text-align: center;
  display: inline;
}


span.fa.fa-envelope {
  color: #A25C71;
}

span.fa.fa-instagram {
  color: #A25C71;
}

#box {
  width: 100px;
  background-color: rgba(211,211,211, 0.3);
  position: relative;
  width: 200px;
  height: 600px;
  margin-top: -300px;
  margin-left: 450px;
  background-size: cover;
  background-position: auto;
  z-index: 1;
}

#logo-2 {
  position: absolute;
  font-weight: bolder;
  color: #dfbbbb;
  text-shadow: 5px 5px 5px #EEEEEE;
  font-family: 'Nothing You Could Do', cursive;
  font-size: 150px;
  text-align: center;
  transform: rotate(90deg);
  transform-origin: left top 0;
  margin-left: 190px;
  margin-top: 170px;
}

#makeup-2 {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  color: #A25C71;
  position: fixed;
  font-weight: bolder;
  transform: rotate(90deg);
  transform-origin: left top 0;
  margin-left: 120px;
  margin-top: 50px;
}

#selfie2{
  width: 300px;
  height: 300px;
  margin-top: 150px;
  margin-left: 150px;
  background-image: url("photos/mc.jpg");
  background-size: cover;
  background-position: auto;
  z-index: 1;
}


#quad{
  position: absolute;
  width: 300px;
  height:307px;
  margin-left: 150px;
  margin-top: -307px;
  background-repeat: no-repeat;
  background-position: auto;
  z-index: 1;
  background-size:cover;
  background-image: url("photos/quad.jpg");
}



/*ABOUT*/

#selfie {
  width: 300px;
  height: 300px;
  margin-top: 120px;
  margin-left: 80px;
  background-image: url("photos/mcselfie.jpg");
  background-size: cover;
  background-position: auto;
  border-radius: 50%;
  z-index: 0
}

.about {
  position: absolute;
  width: 100%;
  text-align: left;
  background-color: none;
  margin-top: -300px;
  margin-left: -10px;
}


.bio {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding-top: 20px;
  width: 50%;
  text-align: left;
  margin: auto;
  height: 700px;
  color: #796878;
}

#about-me {
  font-size: 40px;
}



/*FOOTER*/
footer {
  width: 100%;
  height: 30px;
  background-color: #b9b0c0;
  bottom: 0;
  position: fixed;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 10px;
  text-align: center;
  margin: auto;
}

/*IMAGE SLIDES ON INDEX PAGE*/
/*LARGE SLIDE*/
.image_array{
  max-width: 900px;
  height: 600px;
  margin-left: 650px;
  position: relative;
  margin-top: -600px;
}

.slide1,.slide2,.slide3,.slide4 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide1 {
  background: url("photos/bride.jpg")no-repeat center;
  background-size: cover;
  animation:fade 9s infinite;
  -webkit-animation:fade 8s infinite;

}

.slide2 {
  background: url("photos/brushes.jpg")no-repeat center;
  background-size: cover;
  animation:fade2 8s infinite;
  -webkit-animation:fade2 8s infinite;
}

.slide3 {
  background: url("photos/makeup_eye.jpg")no-repeat center;
  background-size: cover;
  animation:fade3 8s infinite;
  -webkit-animation:fade3 8s infinite;
}

.slide4 {
  background: url("photos/lips.jpg")no-repeat center;
  background-size: cover;
  animation:fade4 8s infinite;
  -webkit-animation:fade4 8s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  25% { opacity: 1}
  50% { opacity: 0}
  75% { opacity: 0}
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 1}
  75% { opacity: 0}
  100% { opacity: 0}
}

@keyframes fade4
{
  0%   {opacity:0}
  25% { opacity: 0}
  50% { opacity: 0}
  75% { opacity: 1}
  100% { opacity: 0}
}


/*CONTACTS PAGE*/
.contact {
  position: absolute;
  width: 50%;
  text-align: left;
  top: 120px;
}

.contact-form {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  padding-top: 20px;
  width: 50%;
  text-align: left;
  margin: auto;
  color: #796878;
}

#toronto {
  margin-top: -50px;
  font-size: 25px;
  padding-bottom: 40px;
  color: #dfbbbb;
}

#info {
  font-size: 40px;
  padding-bottom: 40px;
}

.contact-info{
  color:  #777696;
}

.table-icons {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  width: 100%;
  margin:auto;
  font-size: 20px;
  padding-top: 0px;
  padding-left: 225px;
  color: #777696;
}

.table-icons2 {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  width: 100%;
  margin:auto;
  font-size: 20px;
  padding-top: 80px;
  padding-left: 225px;
  color: #777696;
}

td{
  padding-right: 10px;
}


span.fa.fa-envelope {
  text-align: left;
  color: #A25C71;
}


span.fa.fa-phone {
  color: #A25C71;
}


#phone, #mail {
  font-size: 30px;
  color:#796878;
}

/*PRICES*/

.prices {
  position: absolute;
  width: 50%;
  text-align: left;
  top: 100px;
}

.cost {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding-top: 20px;
  width: 50%;
  text-align: center;
  margin: auto;
  height: 700px;
  color: #796878;
}

#price-title {
  font-size: 40px;
}

/*ICON BOUNCE*/

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-20px);
    -ms-transform:     translateY(-20px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform:     translateY(-15px);
    transform:         translateY(-15px)
  }
}
span {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

span.fa.fa-envelope:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

span.fa.fa-instagram:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}
